/* Remove Bootstrap button focus outline */
.btn:focus {
    box-shadow: none;
}

#form {
    padding-top: 50px
}

#form .row {
    justify-content: center;
}

#form h1 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

#form .form-group {
    margin-bottom: 25px;
}

.btn-radius-fix {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}